p = t('.welcome', email: @resource.email)
p = t('.text_requested')
p = link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token), class: 'link-primary'
p = t('.text_ignore_email')
p = t('.text_create_new')
