.btn-group.btn-group-sm.votes [class="#{resource.class.name.underscore}-votes"]
  = link_to t('.vote_up'), polymorphic_path(resource, action: :vote_up),
          method: :patch,
          data: { type: :json },
          class: 'btn btn-success btn-vote vote-up',
          remote: true

  = link_to t('.vote_down'), polymorphic_path(resource, action: :vote_down),
          method: :patch,
          data: { type: :json },
          class: 'btn btn-danger btn-vote vote-down',
          remote: true

  = link_to t('.un_vote'), polymorphic_path(resource, action: :un_vote),
          method: :delete,
          data: { type: :json },
          class: 'btn btn-info btn-vote un-vote',
          remote: true

  .btn.btn-outline-primary.vote-result data-vote-id="#{resource.class.name.underscore}-#{resource.id}"
    = resource.evaluation
